
   
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("http://getwallpapers.com/wallpaper/full/0/8/c/391956.jpg");
}

main {
    flex: 1 0 auto;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 285px;
    color: #fcfff2;
    font-size: 25px;
}


.button {
    opacity: 0.7;
    
    
   
}


#git {
  margin-left: 70%;
    
}


#link {
  margin-left: 2%; 
    
}

.page-footer { 
    padding-bottom: 0;
    padding: 11px 0px; 
    padding-bottom: 0;
    padding-top: 0%;
}

.icons {
   padding-left: 44%;
}

#fade {
display: none;
}

#fade2 {
    display: none;
}

#fade3 {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    color: #fcfff2;
    font-size: 5px !important;
}

#icon {
    padding-right: 6%;
}

#icon2 {
    padding-right: 6%;
}

#icon4 {
    cursor: pointer;
}

#icon3 {
    padding-right: 6%;
}

